<div *ngIf="reviews.length > 0">
  <h2>Reviews for Movie</h2>
  <ul>
    <li *ngFor="let review of reviews">
      <p>Rating: {{ review.rating }}</p>
      <p>Review Text: {{ review.reviewText }}</p>
      <p>Review Date: {{ review.reviewDate }}</p>
      <p>Author: {{ review.users.username }}</p>
      <button type="button" class="btn btn-outline-primary" (click)="increaseLikeCount(review)">
        <i class="bi bi-hand-thumbs-up"></i> Like {{ review.likeCount }}
      </button>
    </li>
  </ul>
</div>
