<div *ngIf="reviews.length > 0" class="container mt-4">
  <h2>Reviews for Movie</h2>
  <div class="row">
    <div *ngFor="let review of reviews" class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rating: {{ review.rating }}</h5>
          <p class="card-text">Review Text: {{ review.reviewText }}</p>
          <p class="card-text">Review Date: {{ review.reviewDate | date }}</p>
          <p class="card-text">Author: {{ review.users.username }}</p>
          <button type="button" class="btn btn-outline-primary" (click)="increaseLikeCount(review)">
            <i class="bi bi-hand-thumbs-up"></i> Like {{ review.likeCount }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
