<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FilmRating</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/friends">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rating">Movies</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Logout</a>
      </li>
    </ul>
  </div>
</nav>

