<form [formGroup]="reviewForm" (ngSubmit)="submitForm()" class="container mt-4">
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Rating:</label>
    <div class="col-sm-10">
      <div class="star-rating">
        <span *ngFor="let star of stars" class="star" (click)="rate(star)"
              [ngClass]="{'selected': star <= reviewForm.controls['rating'].value, 'text-warning': star <= reviewForm.controls['rating'].value}">&#9733;</span>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="reviewText" class="form-label">Review Text:</label>
    <textarea id="reviewText" formControlName="reviewText" required class="form-control"></textarea>
  </div>
  <div class="mb-3">
    <label for="reviewDate" class="form-label">Review Date:</label>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-calendar"></i></span>
      <input type="text" id="reviewDate" class="form-control" [value]="currentDate | date: 'longDate'" disabled>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit Review</button>
</form>

